footer {
  background: black;
  padding-bottom: 10px;
  .container {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      filter: brightness(0) invert(1);
    }

    .foot {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 0;
    }
  }

  @media (min-width: map-get($grid-breakpoints,lg )) {
    overflow: hidden;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .politica {
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: $yellow;
        z-index: 4;
        position: relative;
      }

      .foot {
        max-width: unset;
        display: inline-block;

        & + .foot {
          margin-left: 5px;
        }
      }
    }

    .footer-detail {
      position: absolute;
      bottom: 0px;
    }
  }
}
