// ICON MENU

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: $yellow;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.menu-ativo .line:nth-child(2) {
  opacity: 0;
  background-color: black;
}

#hamburger-1.menu-ativo .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
  background-color: black;
}

#hamburger-1.menu-ativo .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
  background-color: black;
}

.top-nav {
  padding: 15px 30px 0;
  // height: 126px;
  position: absolute;
  background: transparent;
  top: 0;
  z-index: 4000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: height 0.2s ease-in-out;
  overflow: hidden;
  right: 0;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 84%;
    max-height: 0;
    transition: max-height 0s ease-in-out;
    position: relative;

    .logo {
      margin-bottom: 60px;
    }

    a {
      font-weight: 400;
      font-size: 40px;
      line-height: 58px;
      color: black;
    }
  }
}

.only-single {
  width: 150px;
  z-index: 4001;
  position: absolute;
  filter: brightness(0) invert(1);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
}

.menu-single {
  background: black;
  display: flex;
}

.share {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 80px;
  h3 {
    font-size: 18px;
    line-height: 26px;
    color: black;
    font-style: normal;
    font-weight: normal;
    margin: 0;
  }

  div,
  .fb-share-button {
    display: flex;
    justify-content: space-evenly;
    a img {
      height: 25px;
    }
    a i {
      height: 25px;
    }

    a:hover img {
      transform: scale(1.2);
    }
  }
}

.ativo {
  height: 100vh !important;
  align-items: baseline !important;
  position: fixed !important;
  background: $yellow !important;

  .only-single {
    display: none !important;
  }

  .logo-header {
    filter: brightness(0) invert(1);
    position: relative;
    top: -1px;
  }

  .menu {
    position: absolute;
    max-height: 100% !important;
    top: 140px;
    a {
      padding: 10px 0;
    }
  }
}

@media (min-width: map-get($grid-breakpoints,lg)) {
  header {
    .height-custom {
      height: 80px;
    }

    .btn-home {
      position: fixed;
      left: 10%;

      width: 150px;
    }

    .black-bg {
      background: black !important;

      .btn-home {
        filter: brightness(0) invert(1);
      }

      .menu-link {
        color: $yellow !important;

        &:hover {
          color: white !important;
        }

        & + .menu-link::before {
          background: $yellow !important;
        }
      }
    }

    .menu-lg {
      position: relative;
      left: -3%;
      border-top: 10px;
      border-color: $yellow;
      border-style: solid;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      z-index: 5;

      width: 103%;
      height: 80px;
      position: fixed;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .menu-link {
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: black;
        display: flex;

        &:hover {
          color: white;
        }

        & + .menu-link::before {
          display: block;
          content: "";
          height: 12px;
          width: 2px;
          background: black;
          margin: 0 20px;
        }
      }

      .midias {
        position: absolute;
        right: 10%;

        .no-filter {
          filter: none !important;
        }

        a {
          filter: invert(90%) sepia(27%) saturate(5685%) hue-rotate(1deg)
            brightness(103%) contrast(109%);
          margin: 0 8px;
          display: inline-block;
          img,
          i {
            height: 25px;
            color: $yellow;
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
