.banner {
  height: 85vh;
  background: black;
  position: relative;
  padding-top: 55px;

  img {
    filter: brightness(0) invert(1);
    margin-bottom: 60px;
  }

  h2 {
    font-size: 55px;
    line-height: 74px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;

    span {
      margin-top: 15px;
      padding: 5px 30px;
      display: inline-block;
      background: $yellow;
      color: black;
    }
  }

  .btn-cta {
    background: black;
  }
}

.o-movimento {
  background: $yellow;
  padding-top: 30px;

  .container {
    padding-left: 45px;
  }

  .title {
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .black-box {
    padding: 12px;
    background: black;
    color: $yellow;
    font-size: 22px;
    line-height: 26px;
  }

  .position-relative {
    .player {
      background: #000000;
      border-radius: 50px;
      height: 79px;
      width: 90%;

      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 14px;
      position: absolute;
      bottom: 180px;

      // CENTRALIZAR COM ABSOLUTE
      left: 0px;
      right: 0px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      img {
        width: 100px;
      }

      .play-box {
        height: 100%;
        width: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $yellow;
        border: none;

        i {
          color: black;
          font-size: 23px;
          position: relative;
          right: -3px;
        }
      }

      .music-name {
        font-size: 12px;
        line-height: 24px;
        color: #fff;
        margin-bottom: 0;
      }
    }

    .share {
      display: block;
      width: 35px;
      height: 35px;
      position: absolute;
      bottom: 130px;
      right: 40px;
    }
  }
}

.o-plastico {
  background: #000000;
  padding-top: 31px;
  .title {
    color: $yellow;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
  }
  .wrapper-carousel {
    position: relative;

    .tns-controls {
      button {
        border: none;
        background: none;
        font-size: 36px;
        color: $yellow;
        position: absolute;
        top: 70px;
        z-index: 4;

        &:first-of-type {
          left: 10px;
        }

        &:last-of-type {
          right: 10px;
        }
      }
    }

    .carousel-v-f {
      .question {
        padding-bottom: 35px;
        border-bottom: 5px dotted $yellow;

        .sub {
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          text-transform: uppercase;
          color: #fff;
          max-width: 70%;
          margin: 30px auto;
          margin-bottom: 30px;
        }

        .nav {
          display: unset;
          padding: unset;
          margin: unset;

          .nav-item {
            .btn-cta {
              width: 157px !important;
              text-align: center;
              background: black;
              color: $yellow;

              &.active {
                background: $yellow;
                color: black;
              }
            }

            // &:last-of-type {
            //   .btn-cta {
            //     background: $yellow;
            //     color: black;
            //   }
            // }
            & + .nav-item {
              margin-top: 10px;
            }
          }
        }
      }

      .answer {
        padding: 30px 38px;
        .number {
          font-size: 80px;
          line-height: 86px;
          color: white;
          margin-bottom: 20px;
          position: relative;
          left: -10px;
        }

        .v-or-f {
          color: $yellow;
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 25px;
        }

        p,
        a {
          text-transform: uppercase;
          color: $yellow;
          font-family: Chainprinter;
        }

        a {
          font-size: 10px;
        }
      }
    }
  }
}

.aprenda {
  padding-top: 41px;

  .infos {
    padding-bottom: 58px;
    .title {
      font-size: 24px;
      line-height: 29px;
      max-width: 69%;
      margin: 0 auto;
    }

    .bottle-bg {
      margin-top: 20px;
      background: url("../../dist/img/bottle-bg.png") no-repeat center;
      background-size: contain;
      height: 400px;
      position: relative;
      display: flex;
      justify-content: center;

      .bottle {
        height: 100%;
        position: relative;
        top: 15px;
      }

      .btn-plus {
        height: 44px;
        width: 44px !important;
        background: #000000;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 68px;
        margin: 3px;
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        color: $yellow;

        .fa-times {
          font-size: 40px;
        }

        &.active {
          border: none;
          background: $yellow;
          color: black;
        }
      }

      .b1 {
        top: 67px;
        left: 88px;
      }

      .b2 {
        top: 31px;
        right: 62px;
      }

      .b3 {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
      }

      .b4 {
        bottom: 97px;
        left: 78px;
      }

      .b5 {
        bottom: 34px;
        right: 68px;
      }
    }

    .black-box {
      padding: 15px 25px;
      background: black;
      border-radius: 20px;

      p,
      a {
        color: $yellow;
        font-family: Chainprinter;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
      }

      a {
        font-size: 12px !important;
      }
    }
  }
}
.instagram {
  padding-top: 50px;
  .title {
    font-size: 25px;
    line-height: 31px;
  }
}
.diario-do-plastico {
  .header {
    background: $yellow;
    padding: 32px 54px;

    .title {
      max-width: 70%;
      margin-bottom: 0;
      font-size: 28px;
      line-height: 34px;
    }
  }

  .wrapper-carousel {
    position: relative;
    .tns-controls {
      z-index: 2;
      display: none;
    }

    .tns-nav {
      position: absolute;
      width: 100%;
      text-align: center;

      button {
        border: 2px solid black;
        background: none;
        height: 12px;
        width: 12px;
        margin: 3px;
        border-radius: 6px;
      }

      .tns-nav-active {
        background: black;
      }
    }
  }

  .carousel-blog {
    .item {
      .img {
        background: url("../../dist/img/blog-teste.png") center no-repeat;
        background-size: cover;
        height: 196px;
        width: 100%;
      }

      .black {
        padding: 29px 60px;
        background: black;

        .title {
          color: $yellow;
          font-size: 28px;
          line-height: 34px;
          margin-bottom: 40px;
        }

        .read {
          color: $yellow;
        }
      }
    }
  }

  .yellow-box {
    padding-top: 170px;
    background: $yellow;

    .title {
      font-size: 22px;
      line-height: 26px;
      padding-left: 65px;
      position: relative;
      top: -100px;
      padding-right: 15px;
    }

    .wrapper {
      position: relative;
      .menino {
        position: relative;
        left: -29px;
      }

      .pdfs-box {
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        left: 0;
        bottom: 95px;
        /* height: 100%; */
        overflow-x: scroll;
        width: 100%;
        .wrapper-btn {
          display: flex;
          align-items: center;

          & + .wrapper-btn {
            margin-top: 15px;
          }

          .item {
            display: flex;
            align-items: center;
            width: 260px;
            height: 55px;
            background: black;
            border-radius: 25px;
            padding: 5px;

            .name {
              font-size: 10px;
              line-height: 14px;
              margin-left: 10px;
              color: white;
              span {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.form-box {
  padding-top: 50px;

  .title {
    font-size: 25px;
    line-height: 31px;
  }
  .sub {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Chainprinter" !important;
    margin-bottom: 40px;
  }

  .form {
    z-index: 4;
    input[type="text"],
    input[type="email"] {
      padding: 16px 36px;
      color: white !important;
      text-transform: uppercase;
      font-size: 16px;
      background: black;
      border-radius: 30px;
      border: none;
      width: 100%;
      margin-bottom: 15px;

      &:focus {
        outline: none !important;
        border: 3px solid $yellow;
      }
    }

    .aceite {
      text-align: center;
      display: block;
    }

    p {
      font-family: "Chainprinter";
      font-size: 10px;
      line-height: 15px;

      & + p {
        margin-top: 10px;
      }
    }

    .wpcf7-list-item {
      margin-left: 0;
    }

    .btn-cta {
      background: $yellow;
      color: black;
      margin-top: 35px !important;
      margin-bottom: 45px !important;
    }
  }
}

.modal {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .modal-content {
      position: relative;

      .modal-body {
        iframe {
          width: 100%;
        }
      }

      .close {
        position: absolute;
        right: 2px;
        z-index: 5;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    .modal-dialog {
      max-width: 100%;
    }
    iframe {
      width: 1000px;
      height: 500px;
    }
  }
}
