@media (min-width: map-get($grid-breakpoints,lg)) {
  .banner {
    position: relative;
    height: 640px;
    padding-top: 0px;
    background: url("../../dist/img/bg-banner.png") center no-repeat;
    background-size: cover !important;

    .container {
      padding-top: 103px;
      z-index: 2;
      position: relative;
      height: 100%;
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    img {
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 203px;
      filter: none;
    }

    h2 {
      font-size: 72px;
      line-height: 86px;
      margin-bottom: 70px;
    }

    .btn-cta {
      padding: 15px 25px;

      &:hover {
        background: $yellow;
        color: black;
      }
    }

    p {
      max-width: 180px;
      margin: 0 auto;
      margin-top: 90px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      font-family: "Chainprinter";
      color: white;
    }

    .lg-detail {
      height: 106px;
      width: 5px;
      background: #ffffff;
      border-radius: 20px;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 4;
      margin-left: auto;
      margin-right: auto;
      bottom: -55px;
    }
  }

  .o-movimento {
    padding-top: 100px;
    position: relative;

    .pack1 {
      position: absolute;
      right: 0;
      top: -220px;
      z-index: 2;
    }

    .pack2 {
      position: absolute;
      left: 0;
      bottom: 10%;
    }

    .infos {
      .title {
        max-width: 55%;
      }

      .text-lg {
        position: relative;
        left: -8px;
        top: -5px;
      }
    }

    .position-relative {
      max-width: 1140px;
      padding: 0 30px;
      margin: 0 auto;
      margin-top: 170px;
      height: 485px;

      .player {
        width: 900px;
        z-index: 1;
        bottom: 100px;
        height: 86px;
        left: 30px;
        right: unset;
        justify-content: unset;
        .play-box {
          background: $yellow;
          border: none;
          margin-right: 30px;
          i {
            color: black;
          }
        }

        img {
          width: 136px;
        }

        .music-name {
          font-size: 18px;
          line-height: 22px;
          text-align: left;
          margin-left: 30px;

          span {
            font-size: 16px;
          }
        }
      }

      .share {
        right: 43%;
        z-index: 3;
        width: 64px;
        bottom: 139px;
      }
    }

    .img-lg {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 50%;
    }
  }

  .o-plastico {
    padding-top: 45px;
    position: relative;

    .tns-controls {
      button {
        font-size: 100px !important;
        top: 0 !important;
      }
    }

    .pack3 {
      position: absolute;
      top: 20%;
    }

    .pack4 {
      position: absolute;
      right: 0;
    }

    .lg-wrapper {
      max-width: 1140px;
      padding: 0 30px;
      margin: 0 auto;

      .carousel-v-f {
        .item {
          .sub {
            max-width: 440px;
          }
          .d-lg-flex.col-lg-4 {
            align-items: center;
            justify-content: space-around;
            margin: 0 auto;
            border-bottom: none;

            .nav-item {
              margin: 0;
              .btn-cta {
                &:hover {
                  background: $yellow;
                  color: black;
                }
              }

              // &:last-of-type {
              //   .btn-cta {
              //     background: $yellow;
              //     color: black;

              //     &:hover {
              //       background: black;
              //       color: $yellow;
              //     }
              //   }
              // }
            }
          }

          .answer {
            .number {
              font-size: 144px;
              line-height: 173px;
            }
          }
        }
      }

      .share {
        margin: 0 auto;
        top: -20px;
        h3,
        a {
          color: white !important;
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .aprenda {
    .container {
      position: relative;
    }

    .infos {
      padding-bottom: 175px;
      position: relative;
    }

    .title {
      position: relative;
      top: 60px;
      left: 110px;
      span {
        color: $yellow;
      }
    }

    .bg-lg-map {
      background: url("../../dist/img/globe.png") center center no-repeat;
      background-size: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -35px;

      .bottle-bg {
        width: 300px;

        .btn-plus:hover {
          transform: scale(1.2);
          border: none;
        }
      }
    }

    .black-box {
      position: absolute;
      width: 468px;
      bottom: 30px;
      left: 145px;
    }
  }

  .diario-do-plastico {
    padding-top: 81px;
    background: $yellow;
    position: relative;

    .pack5 {
      position: absolute;
      right: 0;
      top: -50px;
    }

    .wrapper-lg {
      max-width: 1140px;
      padding: 0 30px;
      margin: 0 auto;

      .header {
        background: transparent;
        .title {
          max-width: 200px;
        }
      }
      .wrapper-carousel {
        position: relative;

        .tns-controls {
          display: block;
          position: absolute;
          width: 28%;
          right: 0;
          display: flex;
          top: -20px;
          justify-content: space-around;

          button {
            border: none;
            background: none;
            font-size: 106px;
            color: black;
            top: 70px;
            z-index: 4;
          }
        }

        .tns-nav {
          display: none;
        }

        .carousel-blog {
          .wrapper {
            .img {
              width: 279px;
              height: 240px;
            }

            .black {
              width: 500px;
              height: 240px;

              .title {
                margin-bottom: 10px;
              }
            }
          }

          .read:hover {
            opacity: 0.8;
          }
        }
        .share {
          background: white;
          padding: 10px;
          justify-content: space-around !important;
          margin: 0;
          position: absolute;
          bottom: 0;
          z-index: 2;
          left: 779px;

          a i {
            font-size: 25px;
            color: black;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      .yellow-box {
        position: relative;
        padding-top: 285px;
        .title {
          max-width: 400px;
          position: absolute;
          left: 30%;
          top: 110px;
        }
        .wrapper {
          .menino {
            position: relative;
            left: -50px;
            width: 340px;
          }
          .pdfs-box {
            left: 208px;
            bottom: 100px;
            right: unset;
            height: auto;
            flex-wrap: wrap;
            width: auto;
            overflow-x: hidden;
            .wrapper-btn {
              cursor: unset;
              .item {
                width: 499px;
                height: 86px;
                border-radius: 43px;
                padding: 15px;
                cursor: pointer;

                img {
                  width: 60px;
                }

                .name {
                  font-size: 15px;
                  line-height: 22px;
                  max-width: 75%;
                }
              }

              .download {
                font-size: 24px;
                line-height: 29px;
                text-transform: uppercase;
                color: black;
                padding: 7px 15px;
                border: 2px solid black;
                margin-left: 90px;
                cursor: pointer;

                &:hover {
                  background: black;
                  color: $yellow;
                }
              }
            }
          }
        }
      }
    }
  }

  .form-box {
    padding-top: 119px;
    padding-bottom: 103px;
    position: relative;

    .pack {
      top: -100px;
      right: 0;
      position: absolute;
    }

    .container {
      max-width: 1000px;

      .form {
        align-items: flex-end;
        position: relative;

        .wpcf7-response-output {
          position: absolute;
          width: 300px;
          right: -300px;
          bottom: 10px;
          margin: 0;
        }

        form {
          display: flex;
          align-items: flex-end;

          p {
            display: flex;
            margin-bottom: 0;
          }
        }

        .btn-cta {
          margin: 0 !important;
          margin-left: 41px !important;
          margin-bottom: 15px !important;

          &:hover {
            background: black;
            color: $yellow;
          }
        }
      }
    }
  }
}

// TABLET VERTICAL
@media (min-width: 765px) and (max-width: 840px) {
  .o-movimento {
    .position-relative {
      height: 700px;
      overflow: hidden;
      img.d-lg-none {
        position: absolute;
        right: 0;
      }
    }
  }

  .diario-do-plastico {
    .carousel-blog {
      .item {
        .img,
        .black {
          height: 224px;
        }
      }
    }

    .menino {
      left: 200px !important;
    }
  }
}

// TABLET HORIZONTAL
@media (min-width: 1020px) and (max-width: 1120px) {
  .o-movimento {
    .title {
      max-width: 75% !important;
    }

    .position-relative {
      margin-top: 50px !important;
    }
  }

  .aprenda {
    .infos {
      .black-box {
        left: 20px !important;
      }
    }
  }

  .diario-do-plastico {
    .item {
      .black {
        width: 400px !important;
      }
    }

    .tns-controls {
      right: 30px !important;
    }

    .share {
      left: 679px !important;
      max-width: 30% !important;
    }
  }

  footer .footer-detail {
    display: none !important;
  }
}

// NOTE 1920x947
@media (min-width: 1920px) {
  .banner {
    background-position-y: 75%;
  }
  .o-movimento {
    .img-lg {
      width: 43% !important;
    }
  }
}

// TELA 2560x947
@media (min-width: 2500px) {
  .o-movimento {
    .img-lg {
      width: 38% !important;
    }
  }
}
