.height-custom {
  height: 106px;
}

.banner-single {
  height: 285px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  position: relative;

  .share {
    background: $yellow;
    padding: 10px;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.content {
  padding-top: 70px;
  padding-bottom: 50px;
}

@media (min-width: map-get( $grid-breakpoints,lg)) {
  .height-custom {
    height: 80px;
  }

  .banner-single {
    height: 395px;

    .container {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
    }

    .title {
      max-width: 450px;
      font-size: 28px;
      line-height: 34px;
      padding: 30px;
      background: black;
      color: white;
    }

    .share {
      left: unset !important;

      bottom: -140px !important;
      max-width: 25% !important;

      i {
        color: black;
        font-size: 25px;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .content {
    p {
      max-width: 65%;
      font-family: "Chainprinter";
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 30px;
    }

    ul {
      max-width: 65%;
      padding-left: 20px;
      font-size: 16px;
      line-height: 22px;

      li {
        margin-bottom: 30px;
      }
    }
  }
}
