@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@font-face {
  font-family: "Chainprinter";
  src: url("../../dist/fonts/Chainprinter\ Regular.ttf");
}

@font-face {
  font-family: "DIN-Regular";
  src: url("../../dist/fonts/DINRg.ttf");
}

$yellow: #ffd600;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Chainprinter";
  font-weight: 400;
  position: relative;
}

p {
  font-family: "DIN-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.container {
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-style: normal;
}

img {
  @extend .img-fluid;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.btn-cta {
  font-size: 24px;
  text-transform: uppercase;
  color: $yellow;
  padding: 5px 15px;
  border: 2px solid $yellow !important;
  margin: 0 auto;
  display: table;
}

.obrigado {
  background: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  div {
    background: black;
    padding: 80px;
    color: $yellow;
    .title {
      font-size: 40px;
      text-align: center;
    }
  }

  @media (max-width: map-get($grid-breakpoints,lg)) {
    .title {
      font-size: 20px !important;
    }
  }
}

@import "footer";
@import "header";
@import "home";
@import "responsive";
@import "single";
